<div class="card mb-3">
    <header class="card-header">
        <p class="card-header-title has-text-primary">
            {{ article.source.name | uppercase }}
        </p>
    </header>
    
    <div class="card-content p-3">
        <h3 class="title is-6 mb-3">{{ article.title }}</h3>
        <div class="content" *ngIf="article.description; else noDescription">
            <p [innerHTML]="article.description"></p>
        </div>
        <ng-template #noDescription>
            <p class="no-description">Δεν υπάρχει περιγραφή για το άρθρο αυτό...</p>
        </ng-template>
    </div>

    <footer class="card-footer">
        <p class="card-footer-item has-text-left">
            Συγγραφέας: <span>{{ article.author || 'Άγνωστος'}}</span>
        </p>
        <a [href]="article.url" class="button is-primary is-outlined is-small my-auto mr-3" target="_blank">Περισσότερα</a>
    </footer>
</div>