h1 {
    display: flex;
    justify-content: center;
    align-items: center;;
}

.navbar-item:hover {
    color: #000;
    background-color: rgba(0, 0, 0, 0.05);
}

picture {
    display: flex;
    justify-content: center;
    align-items: center;
}

img {
    height: 32px;
}

@media screen and (max-width: 1023px) {
    .navbar-menu {
        box-shadow: none;
    }
}

@media(max-width: 1006px) {
    header {
        padding-left: 23.5px;
        padding-right: 23.5px;
    }
}