<header class="has-background-light">
    <nav class="navbar container is-light" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <a routerLink="/" class="is-flex">
              <picture>
                <source srcset="assets/images/sars-cov-191.webp" type="image/webp">
                <source srcset="assets/images/sars-cov-191.png" type="image/png"> 
                <img src="assets/images/sars-cov-191.png" alt="sars cov 19">
              </picture>
              <h1 class="is-size-4-mobile is-size-4-tablet has-text-primary">
                COVID-19 Greece
              </h1>
            </a>
      
            <a role="button" class="navbar-burger" (click)="handleMenu()"
            aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>
      
        <div id="navbarBasicExample" class="navbar-menu has-background-light">
          <div class="navbar-end">
            <a routerLink="/regions" class="navbar-item has-text-primary" (click)="closeMenu()">Regions</a>
            <a routerLink="/global-news" class="navbar-item has-text-primary" (click)="closeMenu()">Global News</a>
          </div>
        </div>
      </nav>
</header>