:host {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 103px;
    margin-top: 10px;
}

img {
    width: 30px;
    object-fit: cover;
}

@media screen and (min-width: 1023px) {
    :host {
        margin-top: 0;
        margin-left: 5px;
    }
}