:host {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 103px;
    margin: 10px 0 0 12px;
}

img {
    width: 30px;
    object-fit: cover;
}

@media screen and (min-width: 1023px) {
    :host {
        margin: 0 0 0 5px;
    }
}