<header class="has-background-light">
    <nav class="navbar container is-light" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <h1 class="has-text-centered is-size-4-mobile is-size-4-tablet">
              <a href="" class="has-text-black">COVID-19 Greece</a>
            </h1>
      
            <a role="button" class="navbar-burger" (click)="handleMenu()"
            aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>
      
        <div id="navbarBasicExample" class="navbar-menu has-background-light">
          <div class="navbar-end">
            <a class="navbar-item">Regions</a>
            <a class="navbar-item">Global News</a>
          </div>
        </div>
      </nav>
</header>