<div class="card p-3 mb-3">
    <div class="card-content p-0">
        <h2 class="title is-4">Φύλο</h2>
        <p class="has-text-centered">
          <span class="females">Γυναίκες: {{ femalesPercentage }}%</span>
          <span class="ml-3 males">Άνδρες: {{ malesPercentage }}%</span>
        </p>
        <canvas baseChart 
          [data]="pieChartData"  
          [chartType]="pieChartType"
          [options]="pieChartOptions"
          [plugins]="pieChartPlugins"
          [colors]="pieChartColors">
        </canvas>
    </div>
</div>