.theme-change-container {
    height: 100%;
    margin: 10px 0 0 12px;
    cursor: pointer;
    svg:hover {
        fill: #00D1B2;
    }
}

@media screen and (min-width: 1023px) {
    .theme-change-container {
        margin: 0 0 0 5px;
    }
}