<div class="is-flex is-flex-direction-column overall-stats-wrapper mb-3">
    <h2 class="title is-4">Overall Stats</h2>
    <div *ngIf="!isLoading" class="is-flex is-flex-wrap-wrap is-justify-content-space-between is-align-items-center overall-stats-container">
        <app-card [stats]="confirmed" [bgColor]="'#00D1B4'"></app-card>
        <app-card [stats]="recovered" [bgColor]="'#FFBF00'"></app-card>
        <app-card [stats]="deaths" [bgColor]="'#EC0067'"></app-card>
        <app-card [stats]="active" [bgColor]="'#444'"></app-card>
    </div>
</div>

<app-loader *ngIf="isLoading"></app-loader>