@import 'bulma/css/bulma.css';

// Variables
$lightgreen-color: #00D1B4;
$yellow-color: #FFBF00;
$purple-color: #EC0067;
$lightblack-color: #444;

*, ::after, ::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
}