h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 900;
}

a.navbar-item {
    color: #00D1B2;
    &:hover {
        background-color: rgba(0, 0, 0, 0.05);
    }
    &.active {
        color: #fff;
        background-color: #00D1B2;
    }
}

.navbar-menu {
    padding-top: 0;
}

@media screen and (max-width: 1023px) {
    .navbar-menu {
        box-shadow: none;
    }
}