<header>
    <nav class="navbar container" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <a routerLink="/" class="is-flex">
              <h1 class="is-size-4-mobile is-size-4-tablet has-text-primary">
                COVID-19 GREECE
              </h1>
            </a>
      
            <a role="button" class="navbar-burger has-text-primary" (click)="handleMenu()"
            aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>
      
        <div id="navbarBasicExample" class="navbar-menu">
          <div class="navbar-end">
            <a routerLink="/regions" routerLinkActive="active" class="navbar-item" (click)="closeMenu()">Περιοχές</a>
            <a routerLink="/global-news" [queryParams]="{ country: 'gr' }" routerLinkActive="active" class="navbar-item" (click)="closeMenu()">Παγκόσμια Νέα</a>
            <app-language-selector></app-language-selector>
          </div>
        </div>
      </nav>
</header>