.empty-section {
    height: 400px;
    width: 100%;
    border-radius: 4px;
}

.region-data {
    display: none;
}

@media(min-width: 1023px) {
    p {
        width: 80%;
        margin: auto;
    }
}

@media(min-width: 1280px) {
    p {
        width: 70%;
    }
}